IMAGE_NAME=nginx-certbot-server
IMAGE_TAG=v0.1
CONTAINER_NAME=nginx-certbot

NGINX_REPO=https://github.com/nginx/nginx.git
NGINX_REF=release-1.28.0
CERTBOT_REPO=https://github.com/certbot/certbot.git
CERTBOT_REF=v3.3.0

HOST_HTTP_PORT=80
HOST_HTTPS_PORT=443
HTTP_PORT=80
HTTPS_PORT=443
HTTP_BIND=0.0.0.0
HTTPS_BIND=0.0.0.0
HTTPS_REDIRECT_PORT=443

SERVER_NAME=localhost
CERTBOT_CERT_NAME=default
SELF_SIGNED_CN=localhost
SELF_SIGNED_DAYS=1
HTTP_REDIRECT_TO_HTTPS=false
HTTP_RESPONSE_TEXT=nginx + certbot container is running
HTTPS_RESPONSE_TEXT=secure nginx + certbot container is running

LETSENCRYPT_DIR=./letsencrypt
ACME_WEBROOT_DIR=./www/certbot
ACME_WEBROOT=/var/www/certbot
NGINX_LOG_DIR=./logs/nginx
